{{ define "head" }}
<link rel="stylesheet" href='{{ "css/single.css" | absURL }}'>
<link rel="stylesheet" href='{{ "css/sharingbuttons.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<main id="main" class="post">
  {{ if ne .Section "post"}}
  <article class="content {{ if .Site.Params.numberedSubtitles }}numbered-subtitles{{ end }}">
    {{ .Content }}
  </article>

  {{ else }}
  <h1>{{ .Title }}</h1>
  {{ if ne .Params.tags nil }}
  <div>
    {{ range .Params.tags }}
    <a class="link" href='{{ "tags" | absURL }}/{{ . | urlize }}'>#{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
  {{ if cond (ne .Params.toc nil) .Params.toc .Site.Params.toc }}
  {{ if ne .TableOfContents "<nav id=\"TableOfContents\"></nav>" }}
  <details>
    <summary>
      <b>Table of Contents</b>
    </summary>
    <div class="toc {{ if .Site.Params.numberedSubtitles }}numbered-subtitles{{ end }}">{{ .TableOfContents }}</div>
  </details>
  {{ end }}
  {{ end }}
  <article class="content {{ if .Site.Params.numberedSubtitles }}numbered-subtitles{{ end }}">
    {{ if .Site.Params.emphasisWithDots }}
    {{ .Content | replaceRE "<strong>(\\p{Han}+?)</strong>" "<strong class=chinese>$1</strong>" | safeHTML }}
    {{ else }}
    {{ .Content }}
    {{ end }}
  </article>
  {{ partial "sharingbuttons.html" . }}
  <div class="paginator">
    {{ if .PrevInSection }}
    <a class="link" href="{{ .PrevInSection.Permalink }}">← prev</a>
    {{ else }}
    <a></a>
    {{ end }}
    {{ if .NextInSection }}
    <a class="link" href="{{ .NextInSection.Permalink }}">next →</a>
    {{ else }}
    <a></a>
    {{ end }}
  </div>
  <div class="comment">
    <!-- disqus -->
    {{ template "_internal/disqus.html" . }}
    <!-- generic engine -->
    {{ .Site.Params.commentEngine.code | safeHTML }}
  </div>
  {{ end }}
{{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}
</main>
{{ end }}
